@import '../../utils/variables';

.landingContainer {
  text-align: center;
  margin: auto;
  background-color: rgba($color: #000000, $alpha: 0.4);
  .scrollMessageContainer {
    position: absolute;
    bottom: 60px;
    width: 400px;
    left: 0;
    right: 0;
    margin: auto;
    .explore {
      padding: 10px;
      background-color: rgba($color: #000000, $alpha: 0.4);
      border: 2px solid white;
      color: white;
      font-family: $site-font;
      font-size: 30px;
      font-weight: bold;
    }
    .arrowDown {
      border: solid white;
      width: 50px;
      height: 50px;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-315deg);
      -webkit-transform: rotate(-315deg);
      transition: transform 0.3s, box-shadow 0.5s;
      &:hover {
        transform: rotate(-315deg) scale(1.3);
      }
    }
  }
}