@import '../../utils/variables';

.landingContainer {
  width: $normal-component-width;
  margin: auto;
  padding-bottom: 20vh;
  .landingTitle {
    margin-top:15vh;
    font-size: 40px;
    animation: slide 1s ease-out 0s 1 normal forwards;
    @media (max-width: $medium) {
      margin-top:25px;
    }
  }
  .propertyGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    gap: 20px;
  }
}

@keyframes slide {
  from { transform: translateX(-200px); opacity: 0;}  
  to { transform: translateX(0px); opacity: 1;}  
}

