@import '../../utils/variables';

.navbar {
  background-color: rgba(0,0,0, 0.8);
  border-bottom: 3px solid black;
  .navbarContent {
    min-height: 15vh;
    width: $normal-component-width;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 786px) {
      display: flex;
      margin: auto;
      width: 100%;
    }
  }
  .item {
    font-size: 20px;
    &:hover {
      border-bottom: 2px solid white;
    }
  }
}  
