@import '../../utils/variables';

.navbar {
  background-color: rgba(0,0,0, 0.6);
  font-family: $site-font;
  font-weight: bold;
  a {
    text-decoration: none;
    color: white
  }
  h1 {
    font-family: $site-font;
    font-size: 50px;
    text-decoration: none;
    @media (max-width: $medium) {
      font-size: 30px;
    }
  }
  .navbarContent {
    height: 20vh;
    width: $normal-component-width;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $medium) {
      display: flex;
      margin: auto;
      height: 15vh;
    }
    .rightnavContainer {
      .navTitle {
        margin: 0;
        letter-spacing: 5px;
      }
      .rightnavContent {
        width: $normal-component-width;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .houseNavigation {
          list-style: none;
          display: flex;
          align-items: center;
          padding: 0;
          a {
            text-decoration: none;
            color: white;
            font-size: 100%;
          };
          li {
            padding: 0 20px 0 20px;
            border-left: 1px solid white;
          }
          li:first-child {
            padding: 0 20px 0 0;
            border: none;
          }
        }
        .houseTitle {
          grid-column: 1 / 3;
        }
        .contact {
          display: flex;
          justify-content: right;
          list-style: none;
          text-decoration: none;
          color: white;
          font-size: 20px;
          align-items: center;
          li {
            border-left: 1px solid white;
            padding: 0 20px 0 20px;
            &:first-child {
              border: none;
            }
          }
        }
      }
    }
  }
  .item {
    font-size: 20px;
    &:hover {
      border-bottom: 2px solid white;
    }
    @media (max-width: $medium) {
      font-size: 30px;
    }
  }
}  
