@import '../../utils/variables';

.propertyContainer {
  color: black;
  font-family: $site-font;
  font-weight: bold;
  .about {
    margin-top: 2vh;
  }
  .amenitiesContainer {
    margin-top: 2vh;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    h1 {
      @media (max-width: $medium) {
        font-size: 25px;
      }
    }
    .svgContainer {
      display: flex;
      padding: 10px;
      align-items: center;
      .svgs {
        height: 25px;
      }
      .svgDescription {
        padding-left: 10px;
      }
    }
  }
  .buttons {
    margin-top: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .button {
      text-decoration: none;
      text-align: center;
      font-size: 20px;
      background-color: white;
      color: black;
      margin: 1px; 
      padding: 10px;
      border: 2px solid black;
    }
    .requestBooking {
      @extend .button;
      grid-column: 1 / 3;
    }
  }
}
