@import '../../utils/variables';

.exploreSantanyiContainer {
  background-color: white;
  font-family: $site-font;
  font-weight: bold;
  min-height: 100vh;
  margin-bottom: 100px;
  .content {
    color: black;
    width: $normal-component-width;
    margin: auto;
    .mainBlurb {
      padding-top: 10vh;
      @media (max-width: $medium) {
        text-align: justify;
      }
    }
    .sectionsGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      @media (max-width: $medium) {
        display: block;
        img {
          width: 80vw;
        }
      }
      .informationSection {
        @media (max-width: $medium) {
          margin-top: 5vh;
        }
      }
      .row {
        width: 600px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
      }
      .rowOne {
        @extend .row;
        grid-column: 1 / 3;
        padding: 50px;
        @media (max-width: $medium) {
          padding: 0;
          text-align: justify;
        }
      }
      .rowTwo {
        @extend .row;
        @media (max-width: $medium) {
          text-align: justify;
        }
      }
      .topBanner {
        height: 20px;
        overflow: hidden;
        width: 100%;
        background-color: rgba(white, 0.7);
        position: absolute;
        text-align: left;
        z-index: 1;
        padding: 10px 0 10px 0;
        border-radius: 10px 10px 0 0;
        max-width: 600px;
        span {
          margin-left: 20px;
        }
        @media (max-width: $medium) {
          width: 80vw;
        }
      }
    }
  }
}