@import '../../utils/variables';

.exploreSantanyiContainer {
  background-color: white;
  font-family: $site-font;
  font-weight: bold;
  min-height: 100vh;
  .content {
    color: black;
    width: $normal-component-width;
    margin: auto;
  }
}