@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');


// screen sizes
$max-width: 1400px;
$medium: 1000px;
$small: 480px;

$normal-component-width: 80vw;

$site-font: 'Lato', sans-serif;
