@import '../../utils/variables';

.footerContainer {
  background-color: rgba(0,0,0,0.8);
  border-top: 3px solid black;
  display: flex;
  width: 100vw;
  height: 15vh;
  bottom: 0;
  position: fixed;
  margin-top: 50px;
  z-index: 5;
  .footerContent {
    width: $normal-component-width;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: $medium) {
      display: block;
    }
    div {
      display: flex;
      justify-items: center;
      @media (max-width: $medium) {
        padding-top: 10px;
      }
      img {
        height: 30px;
      }
      a {
        margin: auto 0 auto 40px;
        font-size: 20px;
        word-break: break-all;
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        @media (max-width: $medium) {
          font-size: 15px;
          margin: auto 10px auto 10px;
        }
      }
    }
  }
}
