@import '../../utils/variables';

.footerContainer {
  font-family: $site-font;
  font-weight: bold;
  width: 100vw;
  font-size: 10px;
  bottom: 0;
  position: fixed;
  z-index: 5;
  @media (max-width: $medium) {
    position:relative;
  }
  a {
    text-decoration: none;
    color: black;
  }
  color: black;
  .footerContent {
    width: $normal-component-width;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    letter-spacing: 4px;
    @media (max-width: $medium) {
      display: block;
      letter-spacing: 2px;
      background-color: white;
      padding: 25px;
    }
    div {
      display: flex;
      justify-items: center;
      @media (max-width: $medium) {
        padding-top: 10px;
      }
      img {
        height: 30px;
      }
      a {
        margin: auto 0 auto 40px;
        font-size: 20px;
        word-break: break-all;
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        @media (max-width: $medium) {
          font-size: 15px;
        }
      }
    }
  }
}
