@import './utils/variables';

.App {
  background-color: rgba($color: #080935, $alpha: 1);
  color: white;
  min-height: 100vh;
  scroll-behavior: smooth;
  .container {
    min-height: 100vh;
    border-collapse: collapse;
  }
}
